@model IEnumerable<WebBanHangOnline.Models.EF.ProductImage>
@{
    ViewBag.Title = "Ảnh đại diện";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}



<style>
    .glImage {
        list-style: none;
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr); /* 2 ảnh mỗi hàng */
        gap: 20px;
        position: relative;
    }

        .glImage li {
            position: relative;
        }

    .vn_icon {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 5px;
    }

    .vn_content {
        overflow: hidden;
    }

    .gallery {
        width: 80%;
        max-width: 1200px;
        margin: auto;
    }
    /*.btnDefault {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;*/ /* Đảm bảo kích thước tối thiểu của nút */
        /*min-height: 40px;
    }*/
    /*.vn_icon a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;*/ /* Đảm bảo nút có kích thước đủ lớn */
        /*height: 50px;
        border-radius: 8px;*/ /* Bo tròn góc cho nút */
    /*}*/

    .btn-sm i {
        font-size: 24px; /* Điều chỉnh kích thước biểu tượng */
        line-height: 1;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }
</style>

<!-- Main content -->
<section class="content vn_content">

    <!-- Default box -->
    <div class="card gallery">
        <div class="card-header">
            <h3 class="card-title">Ảnh sản phẩm</h3>

            <div class="card-tools">
                <a href="#" class="btn btn-danger" id="btnDeleteAll"> Xóa hết</a>
                <input class="btn btn-success" type="button" onclick="BrowseServer('txtImage');" value="Tải ảnh" />
            </div>
        </div>

        <div class="card-body " style="overflow: hidden;">
            <ul class="glImage">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li  class="product-image-item" data-id="@item.ProductId" id="trow_@item.Id">
                            <img src="@item.Image" width="100%" />
                            <div class="vn_icon">
                                <a href="#" class=" btnDelete" data-id="@item.Id">
                                    <i class="fa fa-trash btn-sm btn btn-danger"></i>
                                </a>
                                @if (item.IsDefault)
                                {
                                    <a href="#" data-id="@item.Id" data-product-id="@item.ProductId" class=" btnDefault">
                                        <i class="fa fa-check btn-sm btn btn-success" ></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" data-id="@item.Id" class=" btnDefault">
                                        <i class="fa fa-circle-xmark btn-sm btn btn-warning" ></i>
                                    </a>
                                }
                            </div>
                        </li>


                    }
                }
            </ul>
        </div>
        <!-- /.card-body -->
        <div class="card-footer"></div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');
                console.log(id); // In ra giá trị id để kiểm tra
                var conf = confirm("Bạn có muốn xóa không?");
                if (conf === true) {
                    $.ajax({
                        url: '/Admin/ProductImage/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });

        function BrowseServer(field) {
            var finder = new CKFinder();
            debugger;
            finder.selectActionFunction = function (fileUrl) {
                AddImage(@ViewBag.productId, fileUrl);
            };
            finder.popup();
        }


        function AddImage(id, url) {
            debugger;

            $.ajax({
                url: '/Admin/ProductImage/AddImage',
                type: 'POST',
                data: { productId: id, url: url },
                success: function (rs) {
                    if (rs.success) {
                        window.location.reload();
                    }
                }
            });
        }



        $(document).ready(function () {
            $('#btnDeleteAll').on('click', function () {
                var conf = confirm("Bạn có muốn xóa hết ảnh không?");
                if (conf === true) {
                    $.ajax({
                        url: '/Admin/ProductImage/DeleteAll',
                        type: 'POST',
                        success: function (rs) {
                            if (rs.success) {
                                $('.glImage li').remove(); // Xóa tất cả các phần tử li
                            }
                        }
                    });
                }
            });
        });
        //$(document).ready(function () {
        //    $('body').on('click', '.btnDefault', function (e) {
        //        e.preventDefault();
        //        var conf = confirm("Bạn có muốn cập nhật chế độ ảnh không?");
        //        var btn = $(this);
        //        var id = btn.data("id");

        //        if (conf === true) {
        //            $.ajax({
        //                url: '/admin/productImage/isDefault',
        //                type: 'POST',
        //                data: { id: id },
        //                success: function (rs) {
        //                    if (rs.success) {
        //                        // Xóa tích xanh của tất cả các nút khác
        //                        $('.btnDefault').html("<i class='fa fa-circle-xmark btn-sm btn btn-warning'></i>");

        //                        // Cập nhật tích xanh cho nút đã chọn
        //                        if (rs.isDefault) {
        //                            btn.html("<i class='fa fa-check btn-sm btn btn-success'></i>");
        //                        } else {
        //                            btn.html("<i class='fa fa-circle-xmark btn-sm btn btn-warning'></i>");
        //                        }
        //                    }
        //                }
        //            });
        //        }
        //    });
        //});

        //$('body').on('click', '.btn-select-avatar', function () {
        //    var $this = $(this);
        //    var productId = $this.closest('.product-image-item').attr('data-id');
        //    var imageUrl = $this.closest('.product-image-item').find('img').attr('src');
        //    debugger;
        //    if (confirm("Bạn có muốn cập nhật ảnh đại diện?")) {
        //        // Gửi yêu cầu về server để cập nhật
        //        $.ajax({
        //            url: '/Admin/ProductImage/UpdateAvatar',
        //            type: 'POST',
        //            data: {
        //                productId: productId,
        //                imageUrl: imageUrl
        //            },
        //            //success: function (response) {
        //            //    if (response.success) {
        //            //        // Gửi message về trang cha để cập nhật ảnh
        //            //        window.parent.postMessage({
        //            //            action: 'update-avatar',
        //            //            productId: productId,
        //            //            imageUrl: imageUrl
        //            //        }, "*");
        //            //    } else {
        //            //        alert(response.message);
        //            //    }
        //            //}
        //        });
        //    }
        //});


        @*$(document).ready(function(){
            $('.btnDefault').click(function(){
        var imageId = $(this).data('id');
        var productId = $(this).data('product-id');

        // Gửi yêu cầu Ajax để đặt ảnh làm avatar
        $.post('@Url.Action("SetAvatar", "Product")', { id: imageId, productId: productId }, function(data){
            if(data.success){
                // Xóa trạng thái avatar của tất cả các hình ảnh khác
                $('.btnDefault').each(function(){
                    $(this).find('i').removeClass('btn-success').addClass('btn-warning');
                });

                // Đặt trạng thái avatar cho hình ảnh đã chọn
                $(this).find('i').removeClass('btn-warning').addClass('btn-success');
            }
        }.bind(this));
    });
});*@


        //$(document).ready(function () {
        //    $(.btnDefault).click(function () {
        //        var btn = $(this);
        //        var imageId = btn.data('id');
        //        var productId = btn.data('product-id');
        //        $.ajax({
        //            url: '/admin/productImage/SetAvartar';
        //            type: 'POST',
        //            data: { id: imageId, productId: productId },
        //            success: function (rs) {
        //                if (rs.success) {
        //                    $(.btnDefault).each(function () {
        //                        btn.find('i').removeClass('')
        //                    })
        //                }
        //            }
        //        })

        //    })
        //})

    </script>
}
